.navbar{
	text-align: center; 
}

.home{
	padding-right: 20%;
	text-align: center;
}

.profil{
	padding-right: 20%;
}

.gallery{
	padding-right: 20%;
}

.contact{
	padding-right: 20%;
}
